html
    head(lang="pl")
        meta(charset="utf-8")
        
    body
        
        form(action="/register/send" method="POST")
            input(name="user" type="text" placeholder="name")
            input(name="email" type="email" placeholder="email")
            input(name="password" type="password" placeholder="password")
            input(type="submit")
            
        a(href="/")="login"